body {
  color:#c6c4c4;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
  Helvetica, Arial, "Lucida Grande", sans-serif;
}
.big-wrapper {
  margin:0 auto;
  width: 700px;
  height: 1000px;
  background-color: #e0e1e2;
}
.wrapper {
  border-width: 200px;
  border-color: #e0e1e2;
  margin:0 auto;
  top:300px;
  width: 600px;
  height: 800px;
  background-color: black;
  padding: 10px;
  display:block;
}

.title {
  padding-top: 50%;
  padding-left: 10px;
}
#CdG {
  display:inline;
}
#end {
  display:inline;
  padding-left: 13%;
  top:auto;
}
#star {
  display:inline;
  padding-left: 47.5%;
  line-height: 10px;
}

.text-blocks {
  line-height: 4px;
  font-size: 9px;
  padding-left: 55%;
  padding-top: 25%;
}
.text-block2 {
  padding-top: 0.01px;
}
.text-block3 {
  padding-top: 0.01px;
}
.text-block4 {
  padding-top: 0.01px;
}
.name {
  padding-top: 5px;
  font-size: 14px;
}
