
body {
	text-align: left;
	background-position: center;
    background-repeat: no-repeat;
	background-color: #fffec9;
	font-family: 'Calligraffitti', cursive;
}
.header {
	margin-left: 50px;
	color: #7d28fc;
}
h1 {
	text-decoration: underline;
	text-align: left;
}
h2 {
	text-align: left;
}
h3 {
	text-align: left;
}
.poem {
	width:400px;
	color: #fffec9;
	margin-left: 30%;
}

.poem:hover {
	color: blue;
	cursor: pointer;
}
a {
	text-align: center;
	font-size: 30px;
	color: red;
}
a:visited {
	color: red;
}
.backward {
	text-align: left;
	margin-left: 20px;
}
