* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 auto;
  max-width: 100vw;
  height: 100vh;
  padding: 0px;
  position: relative;
  background-color: white;
}

@@font-face {
  font-family: SentyWen;
  src: url(SentyWEN2017.ttf);
}

#text {
  max-width: 100vw;
  height: 100%;
  position: relative;
  background-color: none;
}

#text p {
  color: rgb(6, 11, 51);
  font-family: Georgia, "Times New Roman", "SentyWen", "汉仪新蒂文徵明体","华文楷体", serif;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  text-transform: none;
  text-shadow: none;
  line-height: 1.6;
  text-decoration: none;
  width: 100%;
  max-width: 100%;
  letter-spacing: 0;
  text-indent: 0;
}

span {
  font-family:'Baskerville Old Face', "Baskerville", "Times New Roman", serif;
}

.line1 {
  position:relative;
  display:inline;
  font-size: 30px;
  top:160px;
  left: 8px;
  cursor: pointer;
  margin: 0;
}

.line1.ii {
  display:none;
}

.line2 {
  position:relative;
  display:inline;
  font-size:45px;
  top: 230px;
  left:33%;
  cursor: pointer;
  margin: 0;
}
.line2.ii {
  display: none;
  font-size: 35px;
  left:28%;
}
.line3 {
  position:relative;
  display:inline;
  font-size: 60px;
  top: 490px;
  left:43%;
  cursor: pointer;
  margin:0;
}
.line3.ii {
  display: none;
  font-size: 50px;
  left:35%;
}
.line4 {
  position:relative;
  display:inline;
  font-size: 20px;
  top: -150px;
  left:80%;
  cursor: pointer;
  margin:0;
}
.line4.ii {
  display:none;
  left:75%;
}

.spotlight{
  position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgb(255, 252, 237);
   background-image: -webkit-radial-gradient(circle at var(--x, 50%) var(--y, 50%), rgba(6, 11, 51,0.2) 30px, rgba(6, 11, 51,1) 300px);
}
