body {
  background-color: rgb(214, 180, 139);
  font-family: 'Futura',Helvetica, sans-serif;
}


/* index page */
.start {
  position:relative;
  height: 400px;
  width: 400px;
  margin: 0 auto;
  top: 20vh;
  color:white;
  border-width: medium;
  border-color:white;
  background-color: rgba(255,255,255,0.3);
}
.start a{
  color:white;
}
.start a:visted {
  color:white;
}
.start a:hover {
  opacity: 0.5;
}
.start h1 {
  font-size: 40px;
}
.start h2 {
  font-size: 40px;
}
.introText {
  position:relative;
  top:23%;
  text-align: center;
  line-height: 50px;
}
@media screen and (min-width: 375px) and (max-width: 420px) {
    .start {
      height:400px;
      width:400px;
       top: 15vh;
    }
    .introText {
        position:relative;
        top:23%;
        text-align: center;
        line-height: 40px;
        font-size: 40px;
    }
}
@media screen and (min-width: 620px) and (max-width: 750px) {
    .start {
      height:350px;
      width:350px;
      top:0.5vh;
    }

}

/* homepage */
.Popuplink {
  position:relative;
  display:block;
  top:5vh;
  height:100px;
  width:450px;
  margin:0 auto;
}
.Popuplink img {
  position: relative;
  height: 100px;
  width:100px;
  left:39%;
}
.Popuplink .popuptext {
	  padding-top: 15px;
    line-height: 20px;
    visibility: hidden;
    width: 300px;
    height:340px;
    background-color:rgb(214, 180, 139);
    color: white;
    font-size: 20px;
    text-align: center;
    border:3px solid white;
    border-radius: 6px;
    padding: 5px;
    top:20vh;
    left:10vh;
    position: absolute;
    margin:0 auto;
    z-index: 2;
}

/* Toggle this class - hide and show the popup */
.Popuplink .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.enterLinks {
  position:relative;
  height: 450px;
  width: 450px;
  margin: 0 auto;
  top: 5vh;
  color:white;
  background-color: rgba(255,255,255,0.3);
}
.enterLinks a:hover{
  opacity:0.6;
}
.enterLinks a:visited{
  color: white;
}
#year1938 {
  position:absolute;
  display:inline;
}
#year1938 a{
  position:absolute;
  display:inline;
  left: 50px;
  top: 70px;
  font-size: 50px;
  color:white;
  z-index:1;
}
#year1938 img{
  top:0;
  left:0;
  height:215px;
  width:215px;
  z-index:0;
  opacity:0.6;
}
#year1946 a{
  position:absolute;
  display:inline;
  left: 280px;
  top: 70px;
  font-size: 50px;
  color:white;
  z-index:1;
}
#year1946 img{
  position:absolute;
  display:inline;
  top:0;
  right:0;
  height:215px;
  width:215px;
  background-color: white;
  opacity:0.6;
}
#year1965 a{
  position:absolute;
  display:inline;
  left: 50px;
  top: 300px;
  font-size: 50px;
  color:white;
  z-index:1;
}
#year1965 img{
  position:absolute;
  top:235px;
  left:0;
  height:215px;
  width:215px;
  background-color: white;
  opacity:0.6;
}
#year1972 a{
  position:absolute;
  display:inline;
  left: 280px;
  top: 300px;
  font-size: 50px;
  color:white;
  z-index:1;
}
#year1972 img{
  position:absolute;
  top:235px;
  right:0;
  height:215px;
  width:215px;
  background-color: white;
  opacity: 0.6;
}

@media screen and (min-width: 375px) and (max-width: 420px) {
  .Popuplink {
    position:relative;
    display:block;
    top:5vh;
    height:100px;
    width:350px;
    margin:0 auto;
  }
  .Popuplink img {
    position: relative;
    height: 100px;
    width:100px;
    left:36%;
  }
  .Popuplink .popuptext {
      padding-top: 15px;
      line-height: 20px;
      visibility: hidden;
      width: 300px;
      height:340px;
      background-color:rgb(214, 180, 139);
      color: white;
      font-size: 20px;
      text-align: center;
      border:3px solid white;
      border-radius: 6px;
      padding: 5px;
      top:20vh;
      left:2vh;
      position: absolute;
      margin:0 auto;
      z-index: 2;
  }
  /* Toggle this class - hide and show the popup */
  .Popuplink .show {
      visibility: visible;
      -webkit-animation: fadeIn 1s;
      animation: fadeIn 1s;
  }

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
      from {opacity: 0;}
      to {opacity: 1;}
  }

  @keyframes fadeIn {
      from {opacity: 0;}
      to {opacity:1 ;}
  }

    .enterLinks {
      height: 350px;
      width: 350px;
      top: 10vh;
    }
    .enterlinks a{
      font-size: 20px;
    }
    #year1938 a{
      top:45px;
      left:23px;
    }
    #year1938 img{
      height:162px;
      width:162px;
    }
    #year1946 a{
      top:45px;
      left:215px;
    }
    #year1946 img{
      height:162px;
      width:162px;
    }
    #year1965 a{
      top:225px;
      left:23px;
    }
    #year1965 img{
      top:187px;
      height:162px;
      width:162px;
    }
    #year1972 a{
      top:225px;
      left:215px;
    }
    #year1972 img{
      top:187px;
      height:162px;
      width:162px;
    }
}

@media screen and (min-width: 620px) and (max-width: 750px) {
    .enterLinks {
      height: 350px;
      width: 350px;
      top: 1vh;
    }
    #year1938 a{
      top:45px;
      left:25px;
    }
    #year1938 img{
      height:165px;
      width:165px;
    }
    #year1946 a{
      top:45px;
      left:215px;
    }
    #year1946 img{
      height:165px;
      width:165px;
    }
    #year1965 a{
      top:225px;
      left:25px;
    }
    #year1965 img{
      top:185px;
      height:165px;
      width:165px;
    }
    #year1972 a{
      top:225px;
      left:215px;
    }
    #year1972 img{
      top:185px;
      height:165px;
      width:165px;
    }
}

/* 1938 */
.navigation-bar {
  position:relative;
  display:block;
  height: 200px;
  width: 850px;
  margin:0 auto;
  top:2vh;
}
.navigation-bar button {
  position: relative;
  display:inline;
  height: 150px;
  width: 200px;
  color: white;
  font-size:80px;
  margin:10px;
  float:left;
  font-family: 'Futura',Helvetica,sans-serif;
  text-align: center;
}
.navigation-bar button:hover {
  cursor:pointer;
}

#homebutton img{
  position: relative;
  display:inline;
  width: 150px;
  height:150px;
}

.layout1938 {
  position:relative;
  margin: 0 auto;
  width: 100vw;
  height:1500px;
  top: 100px;
  color: white;
  z-index:-1;
}

#audio1938 {
  position: absolute;
  display:inline;
  width: 800px;
  height: 800px;
  border-radius: 100%;
  left: 6vh;
}
#audio1938 img{
  position: absolute;
  display:inline;
  width: 800px;
  height: 800px;
  border-radius: 100%;
  opacity:1;
}

#txt1938 {
  position: absolute;
  display: block;
  width: 800px;
  height: 800px;
  text-align: left;
  top:40vh;
}
#txt1938 h1 {
  position: relative;
  display: inline;
  font-size: 300px;
  line-height: 100px;
}
#txt1938 p {
  position: relative;
  display: block;
  font-size: 60px;
  left:5vw;
}
#map1938 {
  position: absolute;
  display:block;
  width: 98vw;
  height: 700px;
  top: 5vh;
  left:-0.5vh;
}
#map1938 img{
  position:absolute;
  display: block;
  width: 100vw;
  height:800px;
  top: 80vh;
}
#text-box1938 {
  position:absolute;
  display:block;
  width: 90vw;
  height:350px;
  top:130vh;
  left: 5vw;
}
#text-box1938 h2 {
  font-size: 100px;
}
#text-box1938 p {
  font-size: 60px;
}
