body {
  background-color: rgb(214, 180, 139);
  font-family: 'Futura',Helvetica, sans-serif;
}


/* index page */
.start {
  position:relative;
  height: 80vw;
  width: 80vw;
  margin: 0 auto;
  top: 25vh;
  color:white;
  border-width: medium;
  border-color:white;
  background-color: rgba(255,255,255,0.3);
  font-weight: lighter;
}
.start a{
  color:white;
}
.start a:visted {
  color:white;
}
.start a:hover {
  opacity: 0.5;
}
.start h1 {
  font-size: 90px;
}
.start h2 {
  font-size: 90px;
}
.introText {
  position:relative;
  top:23%;
  text-align: center;
  line-height: 80px;
}

/* homepage */
.Popuplink {
  position:relative;
  display:block;
  top:13vh;
  height:100px;
  width:450px;
  margin:0 auto;
}
.Popuplink img {
  position: relative;
  height: 200px;
  width:200px;
  left:30%;
}
.Popuplink .popuptext {
	  padding-top: 15px;
    line-height: 50px;
    visibility: hidden;
    width: 60vw;
    height:90vw;
    background-color:rgb(214, 180, 139);
    color: white;
    font-size: 40px;
    text-align: center;
    border:3px solid white;
    border-radius: 6px;
    padding: 5px;
    top:15vh;
    left:-4vh;
    position: absolute;
    margin:0 auto;
    z-index: 2;
}

/* Toggle this class - hide and show the popup */
.Popuplink .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.enterLinks {
  position:relative;
  height: 90vw;
  width: 90vw;
  margin: 0 auto;
  top: 20vh;
  color:white;
  text-decoration: none;
}
.enterLinks a{
  text-decoration: none;
}
.enterLinks a:hover{
  opacity:0.6;
}
.enterLinks a:visited{
  color: white;
}
#year1938 {
  position:absolute;
  display:inline;
}
#year1938 a{
  position:absolute;
  display:inline;
  left: 9vw;
  top: 15vw;
  font-size: 100px;
  color:white;
  z-index:1;
}
#year1938 img{
  top:0;
  left:0;
  height:44vw;
  width:44vw;
  z-index:0;
  opacity:0.6;
}
#year1946 a{
  position:absolute;
  display:inline;
  left: 55vw;
  top: 15vw;
  font-size: 100px;
  color:white;
  z-index:1;
}
#year1946 img{
  position:absolute;
  display:inline;
  top:0;
  right:0;
  height:44vw;
  width:44vw;
  background-color: white;
  opacity:0.6;
}
#year1965 a{
  position:absolute;
  display:inline;
  left: 9vw;
  top: 35vh;
  font-size: 100px;
  color:white;
  z-index:1;
}
#year1965 img{
  position:absolute;
  top:46vw;
  left:0;
  height:44vw;
  width:44vw;
  background-color: white;
  opacity:0.6;
}
#year1972 a{
  position:absolute;
  display:inline;
  left: 55vw;
  top: 35vh;
  font-size: 100px;
  color:white;
  z-index:1;
}
#year1972 img{
  position:absolute;
  top:46vw;
  right:0;
  height:44vw;
  width:44vw;
  background-color: white;
  opacity: 0.6;
}


/* 1938 */

.navigation-bar {
  position:relative;
  display:block;
  height: 200px;
  width: 90vw;
  margin:0 auto;
  top:2vh;
}
.navigation-bar a{
  position: relative;
  display:inline;
  height: 150px;
  width: 200px;
  color: white;
  text-decoration: none;
  font-size:80px;
  margin:10px;
  float:left;
  font-family: 'Futura',Helvetica,sans-serif;
  text-align: center;
}
.navigation-bar a:hover {
  cursor:pointer;
}

#homebutton img{
  position: relative;
  display:inline;
  width: 150px;
  height:150px;
}

.layout1938 {
  position:relative;
  margin: 0 auto;
  width: 100vw;
  height:1500px;
  top: 100px;
  color: white;
  z-index:-1;
}

.layout1938 audio{
  position:absolute;
  display: relative;
  left: 25vw;
  top: 22vh;
  z-index: 3;
}

/* #play img{
  position:absolute;
  width: 150px;
  height: 155px;
  top: 19vh;
  left: 15vw;
  z-index:2;
}

#pause img {
  position:absolute;
  width: 150px;
  height: 155px;
  top: 19vh;
  left: 60vw;
  z-index:2;
} */

#audio1938 {
  position: absolute;
  display:inline;
  width: 800px;
  height: 800px;
  border-radius: 100%;
  left: 6vh;
}
#RPM {
  position: absolute;
  display:inline;
  width: 800px;
  height: 800px;
  border-radius: 100%;
  opacity:1;
}

#txt1938 {
  position: absolute;
  display: block;
  width: 800px;
  height: 800px;
  text-align: left;
  top:40vh;
  color:white;
}
#txt1938 h1 {
  position: relative;
  display: inline;
  font-size: 300px;
  line-height: 100px;

}
#txt1938 p {
  position: relative;
  display: block;
  font-size: 60px;
  left:5vw;
}
#map1938 {
  position: absolute;
  display:block;
  width: 98vw;
  height: 700px;
  top: 8vh;
  left:-0.5vh;
}
#map1938 img{
  position:absolute;
  display: block;
  width: 100vw;
  height:800px;
  top: 80vh;
}
#text-box1938 {
  position:absolute;
  display:block;
  width: 90vw;
  height:350px;
  top:135vh;
  left: 5vw;
}
#text-box1938 h2 {
  font-size: 100px;
}
#text-box1938 p {
  font-size: 60px;
}

/* 1946 */
.navigation-bar {
  position:relative;
  display:block;
  height: 200px;
  width: 90vw;
  margin:0 auto;
  top:2vh;
}
.navigation-bar a{
  position: relative;
  display:inline;
  height: 150px;
  width: 200px;
  color: white;
  text-decoration: none;
  font-size:80px;
  margin:10px;
  float:left;
  font-family: 'Futura',Helvetica,sans-serif;
  text-align: center;
}
.navigation-bar a:hover {
  cursor:pointer;
}

#homebutton img{
  position: relative;
  display:inline;
  width: 150px;
  height:150px;
}

.layout1946 {
  position:relative;
  margin: 0 auto;
  width: 100vw;
  height:1500px;
  top: 100px;
  color: white;
  z-index:-1;
  color: white;
}

#audio1946 {
  position: absolute;
  display:inline;
  width: 800px;
  height: 800px;
  border-radius: 100%;
  left: 6vh;
}
#audio1946 img{
  position: absolute;
  display:inline;
  width: 800px;
  height: 800px;
  border-radius: 100%;
  opacity:1;
}

#txt1946 {
  position: absolute;
  display: block;
  width: 800px;
  height: 800px;
  text-align: left;
  top:40vh;
}
#txt1946 h1 {
  position: relative;
  display: inline;
  font-size: 300px;
  line-height: 100px;
}
#txt1946 p {
  position: relative;
  display: block;
  font-size: 60px;
  left:5vw;
}
#map1946 {
  position: absolute;
  display:block;
  width: 98vw;
  height: 700px;
  top: 8vh;
  left:-0.5vh;
}
#map1946 img{
  position:absolute;
  display: block;
  width: 100vw;
  height:800px;
  top: 80vh;
}
#text-box1946{
  position:absolute;
  display:block;
  width: 90vw;
  height:350px;
  top:135vh;
  left: 5vw;
}
#text-box1946 h2 {
  font-size: 100px;
}
#text-box1946 p {
  font-size: 60px;
}
