body {
  background-color:rgb(206, 61, 28);
  font-family: "Futura",Helvetica, sans-serif;
}

.header {
  position:relative;
  display:block;
  width: 800px;
  height: 200px;
  top: 20px;
  color: white;
  padding-left: 10px;
  padding-bottom: 20px;
  margin: 0 auto;
}

.header h2 {
  color:rgb(255, 213, 204);
}

.header h3 {
  color: rgb(255, 177, 160);
}

@media screen and (min-width: 650px) and (max-width: 800px) {
    .header {
        width: 600px;
        font-size: 15px;
    }
}
@media screen and (min-width: 450px) and (max-width: 650px) {
    .header {
        width: 400px;
        font-size: 12px;
    }
}
@media screen and (min-width: 50px) and (max-width: 450px) {
    .header {
        width: 300px;
        font-size:11px;
    }
}

.article-text {
  position:relative;
  display:block;
  width: 800px;
  top: 55px;
  background-color:rgb(252, 132, 106);
  padding: 10px;
  margin: 0 auto;
}

@media screen and (min-width: 650px) and (max-width: 800px) {
    .article-text {
        width: 600px;
        background-color:rgb(255, 180, 147);
    }
}
@media screen and (min-width: 450px) and (max-width: 650px) {
    .article-text {
        width: 400px;
        background-color:rgb(255, 203, 160);
    }
}
@media screen and (min-width: 50px) and (max-width: 450px) {
    .article-text {
        width: 300px;
        font-size:15px;
        background-color:rgb(252, 225, 179);
    }
}
.galleries {
  position:relative;
  display: block;
  margin: 0 auto;
  top: 100px;
  width: 1200px;
}
.gallery1 {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 560px;
  float:left;
}
.gallery1 h3 {
  color:rgb(252, 161, 141);
  font-size: 25px;
}
.gallery1 p {
  color:rgb(252, 140, 116);
  font-size: 15px;
}
.gallery1 img{
  position: relative;
  display: block;
  height: 400px;
  width: 560px;
}
#two {
  display:none;
}
#three {
  display:none;
}
#four {
  display:none;
}
#five {
  display:none;
}
#six {
  display:none;
}
#seven {
  display:none;
}

.gallery2 {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 560px;
  float:right;
}
.gallery2 h3{
  color:rgb(252, 161, 141);
  font-size: 25px;
  position:relative;
  display:block;
  left: 15px;
}
.gallery2 p {
  color:rgb(252, 140, 116);
  font-size: 15px;
  position:relative;
  display:block;
  left: 15px;
}
.gallery2 img{
  position: relative;
  display: block;
  height: 400px;
  width: 520px;
}
#T2 {
  display: none;
}
#T3 {
  display: none;
}
#T4 {
  display: none;
}

@media screen and (min-width: 780px) and (max-width: 1200px) {
    .galleries {
        width: 800px;
    }
    .galleries h3{
      color:rgb(255, 180, 147);
    }
    .galleries p {
      color:rgb(255, 180, 147);
    }
    .galleries img {
      height: 450px;
      width: 600px;
    }
    .gallery1 {
      float: left
    }
    .gallery2 {
      float: right;
    }
}
@media screen and (min-width: 450px) and (max-width: 780px) {
  .galleries {
      width: 500px;
      margin: 0 auto;
      left:5%;
  }
  .galleries h3{
    color:rgb(255, 180, 147);
  }
  .galleries p {
    color:rgb(255, 180, 147);
  }
  .galleries img {
    height: 350px;
    width: 450px;
  }
  .gallery1 {
    float: none;
  }
  .gallery2 {
    float: none;
  }
}
@media screen and (min-width: 50px) and (max-width: 450px) {
  .galleries {
      width: 400px;
      margin: 0 auto;
      left:10%;
  }
  .galleries h3{
    color:rgb(252, 225, 179);
  }
  .galleries p {
    color:rgb(252, 225, 179);
  }
  .galleries img {
    height: 200px;
    width: 300px;
  }
  .gallery1 {
    float: none;
  }
  .gallery2 {
    float: none;
  }
}
